*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 48px;
    background-color: bisque;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 24px;

    grid-auto-flow: row;
    
    direction: rtl;

    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 24px;
    background-color: blue;
}

.item-1{
    background-color: brown;
    color: white;
}

.item-2{
    background-color: purple;
    color: black;
}

.item-3{
    background-color: red;
    color: white;
}

.item-4{
    background-color: forestgreen;
    color: white;
}

.item-5{
    background-color: orangered;
    color: white;
}

.container div{
font: 32px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
