*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 48px;
    background-color: bisque;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    gap: 24px;

    row-gap: 50px;
    column-gap: 10px;

    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 24px;
    background-color: blue;
}

.header{
    background-color: brown;
    color: white;
}

.main{
    background-color: aqua;
    color: black;
}

.sidebar{
    background-color: red;
    color: white;
}

.footer{
    background-color: forestgreen;
    color: white;
}

.gap{
    background-color: orangered;
    color: white;
}
